#root{
    width: 90%;
    height: 50px;
    position: relative;
    left: 20px;
    background-color: rgb(43, 153, 226);
}
#text{

   padding-left: 20px;
   top: 15px;
   position: relative;
   font-size: 20px;
   color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
p{   
    display: inline; 
    position: absolute;
    padding-left: 720px;
    padding-top: 200px;
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 img{
    display: inline;
    padding-left: 20px;
    height: 500px;
    width: 600px;
    top: 58px;
    position: fixed;
} 

